@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body  >
    <img src="~/Photo/klarna-og.png" style="width:1200px;" />
<p><a href="https://localhost:44393/Clothes/Index/" class="btn btn-primary btn-lg">Register &clubs;</a></p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="section3" style="width:1200px;>
        <div class="container">
            <div class="row">


                <div class="myCard col-ld-3 col-md-3 col-sn-6" data-aos="fade-up-right">
                    <img src="https://images.squarespace-cdn.com/content/v1/5a1431a1e5dd5b754be2e0e9/1595933419668-LOI23HGYLNIJXDS729OC/ke17ZwdGBToddI8pDm48kEhRb-mGDiEi0xC18_AR20gUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcIhmhaf0_y3jP90sctjPbyJl_LgGHVX5eJAayYAVUQeLJuPsDj2XpL8L_ZrvpLsfK/s3-news-tmp-90538-untitled_design_-_2019-12-09t130918.786--default--1200.png"
                         width="200" height="150">
                    <h3>Further reading</h3>
                    <p>
                        In 2018, Klarna reported that it had more than 60 million users and some 90,000 online merchants
                        have so far hired it to run their checkouts
                    </p>
                </div>

                <div class="myCard col-ld-3 col-md-3 col-sn-6" data-aos="fade-up-right">
                    <img src="https://media.bizj.us/view/img/11309423/klarna-columbus-lobby*1200xx4032-2274-0-0.jpg"
                         width="200" height="150">
                    <h3>Techno</h3>
                    <p>
                        Parts of Klarna's code base are written in Erlang, a programming language designed by Ericsson
                        for highly parallel, scalable applications.
                    </p>
                </div>

                <div class="myCard col-ld-3 col-md-3 col-sn-6" data-aos="fade-up-left">
                    <img src="https://i.inews.co.uk/content/uploads/2020/07/PRI_156519625.jpg" width="200" height="150">
                    <h3>History</h3>
                    <p>
                        The three founders Sebastian Siemiatkowski, Niklas Adalberth and Victor Jacobsson participated in
                        the Stockh
                    </p>
                </div>

                <div class="myCard col-ld-3 col-md-3 col-sn-6" data-aos="fade-up-left">
                    <img src="https://foreseeti.com/wp-content/uploads/2020/09/464810_1280.jpg" width="200"
                         height="150">
                    <h3>Pay on telphon</h3>
                    <p>
                        Klarna is one of Europe’s largest banks and is providing payment solutions for 85 million
                        consumers .
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="section2" style="background-image: url(https://tech.eu/wp-content/uploads/2020/03/Twitter-B2C-Start-1.jpg); background-repeat: no-repeat; background-position: center; background-attachment: fixed; background-size: cover; width: 100%; height: 400px; text-align: center; padding-top: 100px; padding-bottom: 100px; color: white"></div>


    <p>
        <div>

            <br>
            <br>

        </div>
        <br>
        <br>

        <img class="icons" src="https://img.icons8.com/doodle/64/000000/instagram-new.png" />  <a href="https://uk-ua.facebook.com/" class="btn btn-info">Send</a>
        <img class="icons" src="https://img.icons8.com/dusk/64/000000/facebook-new--v2.png" /><a href="https://uk-ua.facebook.com/" class="btn btn-danger">Send</a>
        <img src="https://img.icons8.com/carbon-copy/64/000000/vimeo.png" /><a href="https://uk-ua.facebook.com/" class="btn btn-info">Send</a>
        <img src="https://img.icons8.com/plasticine/64/000000/twitter.png" />                                 <a href="https://uk-ua.facebook.com/" class="btn btn-danger">Send</a>
        <img src="https://img.icons8.com/color/64/000000/linkedin.png" />          <a href="https://uk-ua.facebook.com/" class="btn btn-info">Send</a>
    </p>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</div>

</html>